<div class="row">
  <article class="header">
    <%= render_slideshow_for(parent) %>
    <%= render_page_title(parent.title) %>
    <%= render_copy_text(parent.body) %>
  </article>
</div>
<div class="row">
  <%= render collection %>
</div>