// overwrite default bootstrap
$theme-color: #44413A; // dark brown > rgba(68, 65, 58, 1)
$theme-medium-color: #69655a; // rgba(105, 101, 90, 1);
$theme-light-color: #d5d4d2; // light brown                   
$theme-accent-color: #63cbd8; // orange                                           
$theme-break-point: 1020px; 
$toolbar-height: 40px;
$navbar-fixed-left: 250px;