.carousel {
  margin-bottom: 0;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 1000px;
  padding: 0 20px;
  margin-top: 150px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  p {
    line-height: 28px;
  }
  hr {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    border-top: 1px solid $theme-color;
    border-bottom: none;
  }
} 
.carousel-caption .btn {
  margin-top: 20px;
  background-color: $theme-color;
  color: white;
}
.carousel-control {
  border-radius: 0;
  border: 1px solid $theme-light-color;
  
  background-color: transparent;
  color: white;
  top: 50%;
  font-size: 30px;
  line-height: 30px; 
  vertical-align: middle;
  @include square(30px);
  @include opacity(1);
  
  &.right,
  &.left {
    background-image: none;
    @include reset-filter();   
  }
  
  &.right {
    border-right: none;    
  }
  
  &.left {
    border-left: none;    
  }
   
  // Hover/focus state
  &:hover,
  &:focus {
    background-color: $theme-color;
    color: white;
    @include opacity(.9);
  }
  @media (min-width: $grid-float-breakpoint) { 
    @include square(50px);
    line-height: 50px;
  }
  @media (min-width: $screen-lg-desktop) { 
    @include square(60px);
    line-height: 60px;
  }
}
.carousel-indicators {
  top: auto;
  bottom: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 120px;
  padding-left: 0;
  margin-left: -60px;
  text-align: center;
  list-style: none;
}