.scroll-down {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  font-size: 30px;
  color: rgba($brand-primary, 0.5);
  font-weight: 100;
  display: none;
  span {
    &:before {
      text-shadow: 0 2px 2px 0 rgba(#000, 0.5);
    }
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.scroll-down {
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}
@keyframes blink { 50% { color: #fff; } }
@-webkit-keyframes blink { 50% { color: #fff; } }

header + .carousel {
  max-height: 50%;
  overflow: hidden;
  @media (max-width: $grid-float-breakpoint) {

  }
  @media (orientation: landscape) {
    max-height: 100%;
    .scroll-down {
      display: block;
    }
  }
  .active,
  .item {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
}
.carousel {
  margin-bottom: 0;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
    line-height: 1;
    text-align: center;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 1000px;
  padding: 0 20px;
  margin-top: 150px;
  text-align: center;
  color: $theme-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  a {
    color: $theme-color;
    text-decoration: underline;
    &:focus,
    &:hover {
      color: $theme-color;
      text-decoration: underline;
    }
  }
  p {
    line-height: 28px;
  }
  hr {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    border-top: 1px solid $theme-color;
    border-bottom: none;
  }
}
.carousel-caption .btn {
  margin-top: 20px;
  background-color: $theme-color;
  color: white;
}
.carousel-control {
  border: 1px solid $theme-color;
  top: 50%;
  line-height: 30px;
  margin-top: -30px;
  background-color: rgba($theme-color, .4);
  @include square($carousel-control-width);
  &.left,
  &.right {
    background-image: none;
    @include reset-filter();
  }
  &.right {
    border-right: none;
  }
  &.left {
    border-left: none;
  }
  // Hover/focus state
  &:focus,
  &:hover {
    background-color: $theme-color;
    color: white;
    @include opacity(.9);
  }
  @media (min-width: $grid-float-breakpoint) {
     @include square(50px);
    line-height: 50px;
  }
  @media (min-width: $screen-lg-desktop) {
     @include square(60px);
    line-height: 60px;
  }
}
.carousel-indicators {
  top: auto;
  bottom: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  max-width: 320px;
  padding-left: 0;
  margin-left: -160px;
  text-align: center;
  list-style: none;
  display: none;
  @media (min-width: $grid-float-breakpoint) {
    display: block;
  }
  li {
    border-width: 2px;
  }
}
