.main-content.home {
  background-color: transparent;
}
.homepage {
  //margin-top: 600px; // set by js
}
.homepage-content {
  //background-color: rgba(241, 237, 228, 1);
  @media (min-width: $theme-break-point) {
    //background-color: rgba(241, 237, 228, .85);
    padding: $line-height-computed;
  }
}

#feature-modal {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  outline: none;
  .modal-header {
    padding: 4px;
    border-bottom: none;
    min-height: 34px;
}
  .close {
    color: $theme-color;
    font-size: 34px;
    @include opacity(.6);
  }
  @media screen and (min-width: $grid-float-breakpoint) {
    .modal-dialog {
      width: 80%;
      max-width: 800px;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 10px;
      padding-right: 10px;
      left: auto;
      right: 0;
      margin-right: 0;
    }
  }

  .carousel-caption {
    text-align: center;
    margin-top: 0;
    padding: 20px 80px;

    h2 {
      font-size: 22px;
    }
    a {
      color: $theme-color;
      text-decoration: underline;
      &:focus,
      &:hover {
        color: $theme-color;
        text-decoration: underline;
      }
    }
    p {
      text-transform: none;
      line-height: 18px;
      margin: 0;
    }
    .feature-link {
      font-size: 12px;
      text-decoration: underline;
    }
  }
  h4,
  p {
    margin: 0;
  }
}
