.main-content.home { 
  background-color: transparent;
}
.homepage {
  margin-top: 600px; // set by js
}

.homepage-content {
  background-color: rgba(241, 237, 228, 1);
  @media (min-width: $theme-break-point) { 
    background-color: rgba(241, 237, 228, .85);
    padding: $line-height-computed;
  }
}

#carousel-alert {
  background-color: rgba(68, 65, 58, .85);
  color: $theme-light-color;
  margin-bottom: $line-height-computed;
  border: 1px solid $theme-light-color;
  min-height: 180px;
  a {
    color: $theme-light-color;
  }
  .item {

  }
  .carousel-caption {
    text-align: center;
    margin-top: 0;
    padding: 20px 80px;
    
    p {
      text-transform: none;
      line-height: 18px;
      margin: 0;
    }
    
    .feature-link {
      font-size: 12px;
      text-decoration: underline;
    }
  }  
  h4, p {
    margin: 0;
  }
}





