
/* Navbar
-------------------------------------------------- */
.navbar {
  @extend .navbar-default;
  border-left: none;
  border-right: none;
  top: 28px;
  border: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.dropdown-locales {
  //font-family: $font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  text-align: center;

  .dropdown-toggle {
    margin : 0;
    background-color: $theme-medium-color;
    color: $theme-light-color;
    font-weight: 300;
    width: 100%;
    padding: 4px 0;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $theme-medium-color;
    }
  }
  .dropdown-menu {
    width: 100%;
     > li > a {
      font-size: 11px;
      font-weight: 300;
      color: #fff;
    }
  }
}

.navbar-header {
  width: 100%;
  border-bottom: 1px solid $theme-medium-color;
}

.navbar-brand {
  margin: 0;
  padding: 10px 15px;
  width: 200px;
}
.navbar-toggle {
  text-transform: uppercase;
  letter-spacing: 1px;
  @media (min-width: $grid-float-breakpoint) {
    display: block !important;
    float: right;
  }
}

.navbar-collapse {
  //max-height: none;
  @media (min-width: $grid-float-breakpoint) {
    padding-right: 0;
    padding-left: 0;
    &.collapse {
      display: none !important;
    }
  }
}
.navbar-nav {
  li {
    //border-top: 1px solid $theme-medium-color;
    &:last-child {
      //border-bottom: 1px solid $theme-medium-color;
    }
    > a {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 8px 15px;
      //text-shadow: none;
    }
  }

  .dropdown-menu {
    background-color: $theme-color-overlay;
    li {
      border-top: 1px solid $theme-medium-color;
      > a {
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 15px;
        color: $brand-primary;
        &:hover,
        &:focus,
        &.active {
          color: #fff;
          text-decoration: none;
        }
      }
      &.text {
        display: none;
      }
    }

  }
  @media (min-width: $grid-float-breakpoint) {
    width:100%;
    > li {
      //display:block;
      //float: none;
      //position: relative;
      > a {
        text-align: center;
        padding: 4px 14px;
      }
    }
    .dropdown-menu {
      //top: -2px;
      //left: $navbar-fixed-left - 2; // position it to the right side
      margin: 0;
      padding: 0; // remove the padding
      max-width: 400px;
      //min-width: 500px;
      //width: 500px;
      background-color: $theme-color-overlay;
      li.submenu > a {
        padding-left: 40px;
      }
      li.text {
        border-top: 1px solid $theme-light-color;
        display: block;
        padding: 20px;
        font-size: 12px;
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        letter-spacing: 1px;
        h2 {
          font-family: $font-family-sans-serif;
          text-align: left;
          font-size: 14px;
          margin: 0 0 12px 0;
          text-transform: uppercase;
        }
      }
      @media (min-width: $screen-lg-desktop) {
        background-color: $theme-color-overlay;
      }
    }

  }
}
