/* Navbar
-------------------------------------------------- */
.navbar {
  @extend .navbar-default;
  border-left: none;
  border-right: none;
  border: none;
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.37));
  
}
.tools-menu-container {
  .nav > li > a {
    @include navbar-vertical-align(34px);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }
}
.navbar-header {
  .tools-menu-container {
    display: none;
    float: right;
    .nav > li {
      float: left;
      > a {
        &:focus,
        &:hover {
          background-color: $navbar-default-toggle-hover-bg;
        }
        @media (min-width: $grid-float-breakpoint) {
          margin-top: 22px;
          margin-bottom: 22px;
        }
      }
    }
  }
}
.navbar-collapse {
  .tools-menu-container {
    .nav > li > a {
      color: $navbar-default-link-color;
      padding: 8px;
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }

    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}
@media (min-width: $grid-float-breakpoint) {
  .navbar-header {
    .tools-menu-container {
      display: block;
    }
  }
  .navbar-collapse {
    .tools-menu-container {
      display: none;
    }
  }
}
.nav-locales {
  float: right;
  margin-bottom: 0;
  > li {
    float: left;
    > a {
      @include navbar-vertical-align(34px);
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 300;
      &:focus,
      &:hover {
        background-color: $navbar-default-toggle-hover-bg;
      }
      @media (min-width: $grid-float-breakpoint) {
        margin-top: 22px;
        margin-bottom: 22px;
      }
    }
  }
}
.navbar-header {
  width: 100%;
  border-bottom: 1px solid $theme-medium-color;
}
.navbar-brand {
  margin: 0;
  padding: 6px 15px;
  width: 70px;
  @media (min-width: $grid-float-breakpoint) {
    width: 100px;
  }
}
.navbar-toggle {
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  color: $brand-primary;
  border: none;
  @media (min-width: $grid-float-breakpoint) {
    display: block !important;
    margin-bottom: 22px;
    margin-top: 22px;
  }
}
.navbar-collapse {
  @media (min-width: $grid-float-breakpoint) {
    padding-right: 0;
    padding-left: 0;
    &.collapse {
      display: none !important;
    }
  }
}
.booking-menu-container {
  border-top: 1px solid $theme-medium-color;
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    width: 100%;
  }
}
.nav.booking {
  > li > a {
    text-align: left;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 8px;
    color: $navbar-default-link-color;
    line-height: 20px;
    &:focus,
    &:hover {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-link-hover-bg;
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    //margin: 0;
    > li {
      float: left;
      > a {
        text-align: center;
        padding: 4px 10px;
      }
    }
  }
}
.navbar-nav {
  margin: 0;
  li {
    > a {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      padding: 8px;
    }
  }
  .dropdown-menu {
    background-color: $theme-color-overlay;
    li {
      border-top: 1px solid $theme-medium-color;
      > a {
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        //letter-spacing: 1px;
        padding: 8px 15px;
        color: $brand-primary;
        &.active,
        &:focus,
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
      &.text {
        display: none;
      }
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    > li {
      > a {
        text-align: center;
        padding: 4px 10px;
      }
    }
    .dropdown-menu {
      margin: 0;
      padding: 0; // remove the padding
      max-width: 400px;
      background-color: $theme-color-overlay;
      li.submenu > a {
        padding-left: 40px;
      }
      li.text {
        border-top: 1px solid $theme-light-color;
        display: block;
        padding: 20px;
        font-size: 12px;
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        letter-spacing: 1px;
        h2 {
          font-family: $font-family-sans-serif;
          text-align: left;
          font-size: 14px;
          margin: 0 0 12px;
          text-transform: uppercase;
        }
      }
      @media (min-width: $screen-lg-desktop) {
        background-color: $theme-color-overlay;
      }
    }
  }
}
