/* Toolbar
-------------------------------------------------- */
.toolbar {
  position: fixed;
  z-index: $zindex-navbar-fixed;
  height: auto;
  top: 0;
  bottom: auto;
  width: 100%;
  background-color: $brand-primary;
  color: #fff;

  .nav {
    position: relative;
    width: 100%;
    > li {
      float: left;
      width: 33.33333333333333%;

      > a {
        background-color: transparent;
        padding: 4px 0;
        text-decoration: none;
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        text-align: center;
        &:hover,
        &:focus {
          color: white;
          background-color: transparent;
        }
      }
    }
    @media (min-width: $grid-float-breakpoint) {
      @include pull-right;
      width: auto !important;
      //border-top: 0;

      > li {
        width: auto !important;
        border-right: 1px solid lighten($theme-color, 20%);
        &:last-child {
          border-right: none;
        }
        > a {
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 1px;
          padding: 6px 15px;
        }
      }
    }
  }

}
