/* Toolbar
-------------------------------------------------- */ 
.toolbar { 
  position: fixed;
  z-index: $zindex-navbar-fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $toolbar-height * 2;
  background-color: $theme-medium-color;
  color: $theme-light-color; 
  
  @media (min-width: $grid-float-breakpoint) {
    height: $toolbar-height;
    border-top: 0;
  }
  
  p {
    font-size: $font-size-small; 
    text-align: center;
    margin-top: (($toolbar-height - $line-height-computed) / 2);
    margin-bottom: (($toolbar-height - $line-height-computed) / 2);
    
    @media (min-width: $grid-float-breakpoint) {
      margin-left: 20px;
      text-align: left;
      font-size: $font-size-small;
    }
  }
  .nav {
    position: relative;
    border-top: 1px solid lighten($theme-color, 20%); 
    width: 100%;
    > li {
      float: left;
      width: 33.33333333333333%;
      border-left: 1px solid lighten($theme-color, 20%);
      > a { 
        background-color: transparent;
        padding-top: (($toolbar-height - $line-height-computed) / 2);
        padding-bottom: (($toolbar-height - $line-height-computed) / 2);
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: $theme-light-color;
        text-align: center;
        letter-spacing: 1px; 
        &:hover,
        &:focus {
          color: white;
          background-color: $theme-medium-color;
        }
      } 
    }
    @media (min-width: $grid-float-breakpoint) {
      @include pull-right;
      width: auto !important;
      > li {
        width: auto !important;
        > a {
          font-size: 11px;
          font-weight: 300;
          padding-left: 15px;
          padding-right: 15px; 
        }
      }
    } 
  }

}