<% @features ||= site.features.live -%>
<%= render_slideshow_for(resource) %>
<%# @supersized_images = site.sections.root.images.order(:position) -%>
<div class="container homepage">
  <div class="row">
    <div class="col-xs-12">
      <% if resource.body.present? %>
      <div class="homepage-content">
        <%= render_page_title(resource.title) %>
        <%= render_copy_text(resource.body) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'feature_modal' if @features.any? -%>
