<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render_page_title(resource.title) if resource.show_title_in_page %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <%= render_copy_text(resource.body) %>
      <p><%= t("full_hotel_address").html_safe %></p>
    </div>
    <div id="table_booking_form_container" class='col-xs-12 col-sm-8'>
      <%= render 'table_booking_form' %>
    </div>
  </div>
</div>
