
// overwrite default bootstrap
$theme-color: #44413A; // dark brown > rgba(68, 65, 58, 1)
$theme-medium-color: #69655a; // rgba(105, 101, 90, 1);
$theme-light-color: #d5d4d2; // light brown                   
$theme-accent-color: #63cbd8; // orange                                           
$theme-break-point: 1020px; 
$toolbar-height: 40px;
$navbar-fixed-left: 250px;                   

@import "theme/font"; 
@import "theme/bootstrap-variables";
@import "theme/additionnal-variables";
@import "bootstrap/bootstrap";
@import "font-awesome-3.2.1/font-awesome";
@import "theme/navbar";
@import "theme/toolbar"; 
@import "theme/footer";
@import "theme/carousel";         
@import "theme/supersized";

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}                                                   
@-o-viewport{width:device-width}
@viewport{width:device-width}                                     


// Color for the placeholder plugin                        
.placeholder {
  color: $input-color-placeholder;
}

/* FIX FOR GMAP BUG
-------------------------------------------------- */
#map-canvas {
  height: 400px;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

/* GLOBAL STYLE
-------------------------------------------------- */
// We do not want focus
// -------------------------
a:focus,
.btn:focus {
  outline: 0;     
}                  
::selection {
	background-color: $theme-medium-color;
	color: #fff;                                                                         
}
a {
  @include transition(all 0.4s ease-in-out);  
}

a[data-pin-log="button_pinit_floating"] {
  z-index: 1000000;
} 

html {
  overflow-y: scroll;
  height: 100%;
}
body {
  font-weight: 300;
	height: 100%;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
  @media (min-width: $grid-float-breakpoint) {
    @include center-block;
    max-width: 1000px;
  }
}
.main-content { 
  background-color: rgba(241, 237, 228, 1);
  padding-top: $line-height-computed;
  @media (min-width: $grid-float-breakpoint) {
    margin-left: $navbar-fixed-left;
  }
  @media (min-width: $theme-break-point) { 
    padding: $line-height-computed;
    margin-left: $navbar-fixed-left + $line-height-computed;
    margin-bottom: $line-height-computed;
    background-color: rgba(241, 237, 228, .85);
  }
}
.main-content.home { 
  background-color: transparent;
}
.page-title {
	padding: $line-height-computed 0 0 0;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 1px;
}
.copy-text {
  font-size: 16px;
  font-weight: 300;
  ul { list-style: disc outside; margin-left: 30px; }
  ol { margin-left: 30px; }
	h3 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		text-align: left;
		letter-spacing: 1px;
	}
	a {
	  color: $theme-medium-color;
	  text-decoration: underline;
	  &:hover,
	  &:focus { 
	    text-decoration: none;
	    color: $theme-light-color;
	    background-color: $theme-medium-color;
	  }
	}
	table {
    @extend .table;
  }
}
.carousel-container {
  position: absolute;
  bottom: 100px;
  min-width: 80%;
  .carousel {  
    color: $theme-light-color;
    background-color: rgba(68, 65, 58, .85);
    width: 100%; 
    min-height: 260px;
    img {
      float: left; 
      max-width: 150px;
      margin-right: 20px;
    }
    .btn-link {
        color: $theme-light-color;
    }
  }
}

.nav-wine-list {
  
}

.thumbnail {
  height: 200px;
}

.img-thumbnail {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}