<!-- starts footer -->
<footer class="outer-container" id="footer">
  <div class="container" >
    <div class="row">
      <div class="col-sm-3">
        <div class="widget widget-browse">
          <h5 class="widget-heading">FIND OUT MORE</h5>
          <hr/>
          <nav class="pipe-menu-container"> 
            <%= render_menu('pipe') %>
          </nav>        
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget widget-lastest-post">
            <h5 class="widget-heading">Recent news</h5>
            <hr/>
            <div class="post">
                <div class="date">
                    Wed, 12 Dec
                </div>
                <a href="blogpost.html" class="title">
                    Randomised words which don't look embarrasing hidden.
                </a>
            </div>
            <div class="post">
                <div class="date">
                    Mon, 12 Dec
                </div>
                <a href="blogpost.html" class="title">
                    Randomised words which don't look embarrasing hidden.
                </a>
            </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget widget-intouch">
            <h5 class="widget-heading">Get in touch with us</h5>
            <hr/>
            <p class="address">Hotel Le Toiny St. Barth<br>Anse de Toiny<br>97133 Saint Barthelemy<br>French West Indies, Caribbean<br>Tel: +590 (0)590 27 88 88<br>Fax: +590 (0) 590 27 89 30<br><a href="mailto:reservations@letoiny.com">reservations@letoiny.com</a></p>  
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget widget-awards">
           <p><%= link_to(image_tag('gold_cntraveller_2013.png', :alt => 'Gold_cntraveller_2013'), "http://www.cntraveler.com/hotels/caribbean/french-west-indies/h-tel-le-toiny-st-barts-st-barts-st-barts", :id => "logo_gold_cntraveller_2013", :target => "_blank", :class => "cntraveller") %></p>  
        </div>
        <!-- @import "social-links" -->
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/FollowCompany" data-id="2937262" data-counter="right"></script>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FHotel-Le-Toiny-St-Barth%2F102215559842737%3Fv%3Dinfo%23%21%2Fpages%2FHotel-Le-Toiny-St-Barth%2F102215559842737%3Fv%3Dwall&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=dark&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:22px; padding-top: 8px;padding-left: 16px;" allowtransparency="true" id="fcb"></iframe>
      </div>
    </div>
  </div>
</footer>