<ul class="nav nav-locales">
  <% site.available_locales.each do |language| %>
  <% unless current_locale?(language.code) %>
  <li><%= link_to(language.presentation, root_url(:locale => language.code), :tabindex => "-1") %></li>
  <% end %>
  <% end %>
</ul>
