<% if images.try(:any?) %>
  <div class="carousel slide" id="carousel" data-interval="3000">
    <div class="carousel-inner">
      <% images.each_with_index do |img, idx| %>
        <div class="item <%= 'active' if idx == 0 %>"><%= image_fu(img, current_site.preferred_image_carousel_size) %></div>
      <% end %>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="icon-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="icon-angle-right"></span>
    </a> 
  </div>
<% end %>